// Override Aleph/Blueprint theme
$aleph-primary: #0000ff;
$aleph-secondary: #000080;

$aleph-navbar-background: $aleph-primary;
$aleph-searchbar-background: $aleph-secondary;

$pt-intent-primary: $aleph-primary;

.Navbar {
  &.bp3-navbar {
    background-color: $aleph-navbar-background !important;
  }
}

.ScopeSelect__scope-button {
    background-color: $aleph-searchbar-background !important;
}

.bp3-button.bp3-intent-primary {
  background-color: $aleph-primary !important;
}

.bp3-button.bp3-minimal {
  background: none !important;
}

.QueryFilterTag.bp3-tag {
  background-color: $aleph-primary !important;
}

.bp3-menu-item.bp3-intent-primary.bp3-active {
  background-color: $aleph-primary !important;
}

.SearchFacet > .opener .bp3-tag {
  background-color: $aleph-primary !important;
  color: #fff;
}

.bp3-tab[aria-selected="true"], .bp3-tab:not([aria-disabled="true"]):hover {
  color: $aleph-primary !important;
}

.bp3-tab[aria-selected="true"] > .Count {
  background-color: $aleph-primary !important;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
  background-color: $aleph-primary !important;
}

table tr.active,
table tr.active td {
  background-color: $aleph-primary !important;
}

$aleph-link-color: $aleph-primary;
$aleph-breadcrumbs-background: #EEE;

$blue1: #000080;
$blue2:  $aleph-primary;
$table-header-color: $aleph-primary;
$button-color-hover: #000080;
$aleph-sidebar-background: #EEE;

.HomeScreen {
  &__section {
    text-align: center;

    &.title-section {
      background: #ebf1f5;
    }
  }

  &__text-container {
    color: #000 !important;
  }

  .Statistics__headline {
    color: #000 !important;
  }

  .Statistics__list-item a {
    color: #000 !important;
  }
}

.CasesIndexScreen {
  .explainer {
    background: #ebf1f5;
  }
}
